.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 114rem;
  margin: 0 auto;

  &__box {
    position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem;
    margin: 0 3rem;
    width: calc((100% - 2 * 6rem) / 3);
  }

  &__side {
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.8s ease;
    backface-visibility: hidden;

    &--front {
      background-color: $color-white;
      transition: all 0.8s ease;
      box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
      overflow: hidden;
      padding-bottom: 5rem;
    }

    &--back {
      position: absolute;
      width: 100%;
      height: 100%;
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &__box:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &__box:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../../assets/nat-5.jpg);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../../assets/nat-6.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../../assets/nat-7.jpg);
    }
  }

  &__heading {
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;

    &-span,
    &-media {
      display: inline-block;
      text-align: right;
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
      color: $color-white;

      & > * {
        padding: 1rem 1.5rem;
      }

      &--1 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary-light, 0.85),
          rgba($color-secondary-dark, 0.85)
        );
      }

      &--2 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-light, 0.85),
          rgba($color-primary-dark, 0.85)
        );
      }

      &--3 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-tertiary-light, 0.85),
          rgba($color-tertiary-dark, 0.85)
        );
      }
    }

    &-media {
      display: none;
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
  &__price-box {
    color: $color-white;
    text-align: center;
  }
  &__price--only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  &__price--value {
    font-weight: 100;
    font-size: 6rem;
  }

  &__details {
    text-align: center;
    padding: 3rem;

    & ul {
      list-style: none;

      & li {
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-gray-light-2;
        }
      }
    }
  }

  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    flex-direction: column;

    &__box {
      width: 40rem;
      &:not(:last-child) {
        margin-bottom: 6rem;
      }
    }

    &__side {
      &--back {
        position: relative;
        transform: rotateY(0deg);
        clip-path: polygon((0 15%, 100% 0, 100% 100%, 0 100%));
        margin-top: -6rem;
      }
    }

    &__box:hover &__side--front {
      transform: rotateY(0deg);
    }

    &__heading {
      width: 90%;
      text-align: right;

      &-span {
        display: none;
      }

      &-media {
        display: inline-block;
        padding: 1rem;
      }
    }

    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      margin: 0 auto;
      padding: 7rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 2rem !important;
    }

    &__price--only {
      font-size: 1rem;
    }

    &__price--value {
      font-size: 5rem;
    }
  }
}
