.composition {
  position: relative;
  &__image {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;

    &:hover {
      z-index: 20;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      outline: 1.5rem solid $color-primary;
    }

    &--1 {
      top: -2rem;
      left: -2rem;
    }

    &--2 {
      right: 0;
      top: 2rem;
    }

    &--3 {
      left: 20%;
      top: 10rem;
    }
  }

  &:hover &__image:not(:hover) {
    transform: scale(0.95);
  }

  @include respond(tab-port) {
    display: flex;
    padding-top: 8rem;
    &__image {
      position: relative;

      &--1 {
        top: 0;
        left: 2rem;
        transform: scale(1.2);
      }

      &--2 {
        top: -2rem;
        transform: scale(1.3);
        z-index: 15;
      }

      &--3 {
        top: 0;
        left: -2rem;
        transform: scale(1.2);
      }
    }
  }
}
