*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

// COLORS
:root {
  --color-primary: #55c57a;
  --color-primary-light: #7ed56f;
  --color-primary-dark: #28b485;
  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;
  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;
  --color-gray-dark: #777;
  --color-gray-dark-2: #999;
  --color-gray-dark-3: #333;
  --color-white: #fff;
  --color-black: #000;
  --color-gray-light-1: #f7f7f7;
  --color-gray-light-2: #eee;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px
  }

  // Tab-port & Phone share same font-size
  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px
  }
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

.container {
  padding: 3rem;
  background-color: var(--color-white);

  @include respond(tab-port) {
    padding: 0;
  }
}
